
body {
   
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d09002a.png);
    

}

header {
    float: left;
    inline-size: auto;
    font-size: larger;
    margin-left: 10px;
}


.navbar-nav {
    margin-left: 40em;
}

img {
    float: left;
    width: 100%;
    position: relative;
  
}

p {
    margin: 20px;
    float: left;
    padding-right: auto;
    text-align: start;
}

#borders {
    border: solid;
    margin: 80px;
    background-color: white;
    width: 60%;
    height:80%;


}

#background {
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d09002a.png);
    


}


