
body {
   
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95d09002a.png);
    
    

}

header {
    float: left;
    inline-size: auto;
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100px;
}


.navbar-nav {
    margin-left: 40em;
}

img {
    float: left;
    width: 100%;
    position: relative;
    padding: auto;
    margin: auto;
  
}

p {
    margin: 20px;
    float: left;
    padding-right: auto;
    text-align: start;
}

#borders {
    border: solid;
    margin: 50px;
    padding: 50px;
    background-color: white;
    width: 40%;
    height:80%;

}



.responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
  }